* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.running {
    border: 3px solid black;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1700px;
}

.running-boy, .running-girl{
    transition: transform 5s linear;
    z-index: 15;
    width: 200px;
}
.running-boy{
    position: relative;
    top: 420px;
}
.running-girl{
    position: relative;
    top: 410px;
}
.obstacle{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.obstacle .img-1{
    z-index: 41;
    position: relative;
    top: 125px;
}
.obstacle .img-2{
    z-index: 41;
    position: relative;
    top: 125px;
}
.obstacle .tree-1{
    z-index: 41;
    position: relative;
    top: 90px;
    width: 100%;
}
.name {
    z-index: 40;
    position: relative;
    display: flex;
    max-width: 300px;
    left: 3vw;
    bottom: 220px;
    justify-content: space-between;
    transition: transform 5s linear;
}

.name .boy, .name .girl {
    font-size: 1rem;
    color: white;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    padding: 3px 10px;
    border-radius: 5px;
}

.click-here {
    margin-top: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.click-here label {
    display: block;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px 15px;
    background: black;
    color: white;
    border-radius: 5px;
    width: 120px;
}

#checkbox {
    display: none;
}
@media screen and (max-width:576px) {
    .running-boy, .running-girl{
        width: 150px;
    }
    .obstacle .img-1, .obstacle .img-2{
        z-index: 41;
        width: 200px;
        top: 143px;
    }
    .running-boy{
        width: 90px;
        position: relative;
        top: 233px;
    }
    .running-girl{
        width: 100px;
        position: relative;
        top: 226px;
    }
    .obstacle .tree-1{
        z-index: 41;
        position: relative;
        top: 30px;
        width: 150px;
    }
    .name{
        z-index: 40;
        position: relative;
        display: flex;
        max-width: 200px;
        left: 3vw;
        bottom: 100px;
        justify-content: space-between;
        transition: transform 5s linear;
    }
    .name .boy, .name .girl {
        font-size: 12px;
        color: white;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        background: black;
        padding: 3px 10px;
        border-radius: 5px;
    }
}